<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playlist Converter</title>
  <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
  <div id="converter-container">
    <form action="/convert" method="post">
      <label for="playlistURL">Enter Playlist URL:</label>
      <input id="playlistURL" name="playlistURL" type="text" placeholder="URL">
      <button type="submit">Convert Playlist</button>
    </form>
  </div>
</body>
</html>